@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  height: 55px;
  background-color: #161B22;
  background-position: center center;
  background-size: cover;
}

.card-col {
  background-color: #161B22;
}

