@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.banner {
  width: 100%;
  height: 60px;
  top: 58px;
  background-color: #111212;
  background-position: center center;
  background-size: cover;
}

.bodypart {
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center center;
  background-image: url(img/img1.jpg);
}

.bodypart-head {
  color: #aaa;
  font-size: 3.5rem;
  position: absolute;
  top: 7.5rem;
  left: 53rem;
  font-weight: 600;
}

.bodypart-head-para {
  color: gray;
  font-size: 1.5rem;
  position: absolute;
  top: 21rem;
  left: 49rem;
  font-weight: 600;
}

.container-2 {
  width: 100%;
  aspect-ratio: 1;
  background-color: #0D1017;
  background-position: center center;
  background-size: cover;
}

.ftr {
  background-color: red;
}